body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.expression-display{
  min-height: 25px;
}

.calc-butt{
  margin:1px;
}

.calc-body{
  padding: 10px;
}

.calc-history{
  border-top-style: groove;
  margin-top:10px;
}

.calc-jumbo{
  margin-top:10px;  
  padding: 1rem 1rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}